body {
  background-color: #f0f0f0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: max-content;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.card-title {
  text-align: center;
}

.btn-primary {
  width: 100%;
}
.card-body{
  width: 100%;
}
.form-control {
  width: 250px;
}
